<html>
  <head>
    <meta charset="utf-8">
    <title>Voting</title>
  <body>
    <h1>투표 결과</h1>
      <% @list.each do |row| %>
        <p><%= row[0] %>님은 <%= row[1] %>에 투표하셨습니다.</p>
      <% end %>
    <h1>---------------------------------------------------</h1>
    <h1>투표결과</h1>
    <!--해쉬를 이용한 투표결과  -->
      <p>1시간에 투표한 사람 : <%=@count["1hour"]%></p>
      <p>2시간에 투표한 사람 : <%=@count["2hour"]%></p>
      <p>3시간에 투표한 사람 : <%=@count["3hour"]%></p>
  </body>
  </head>
</html>
