<html>
  <head>
    <meta charset="utf-8">
    <title>Fake_op.gg</title>
  </head>
  <body>
    <h1><%= @id %>님의 슬픈 전적</h1>
    <p><%= @win %> <%= @loss %> <%= @rate %></p>
    <p><%= @tier %></p>
    <p>롤 접으세요</p>
  </body>
</html>
